{% extends 'pychart/base.html' %}
{% load staticfiles %}


{% block content %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class='page-header'>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                </div>
            </div>
            <h1>Gallery</h1>
        </div>
        <h3 class="offset2">Data Sets</h3>
        <section class="row">
        <ul class="unstyled">
        {% for data_item in data %}
            <li class="col-sm-3">
            <a href="{% url 'data_detail_view' data_item.id %}">
                <p id="th-title"><b>{{ data_item.title }}</p>
            </a>
                <p class="date"><b>Description: </b>{{ data_item.description}}</p>                
                <p class="date"><b>Date Uploaded: </b>{{ data_item.date_uploaded}}</p>                
            </li>
        {% endfor %}
        </ul>
        </section>
        <div class="container text-center pages">
        </div>
        <h3 class="offset2">Charts</h3>
        <section class="row offset2">
            <ul class="unstyled">
            {% for render in renders %}
                <li class="col-sm-3">
                {% if render.render_type == "Bar"%}
                    <img style="object-fit: cover; height: 100px;" src="{% static 'imgs/bar.png' %}">
                {% elif render.render_type == "Histogram" %}
                    <img style="object-fit: cover; height: 100px;" src="{% static 'imgs/histogram.png' %}">
                {% elif render.render_type == "Scatter" %}
                    <img style="object-fit: cover; height: 100px;" src="{% static 'imgs/scatter.png' %}">
                {% endif %}
                 <a href="{% url 'render_detail' render.id %}">
                    <p id="th-title"><b>{{ render.title }}</b></p>
                 </a>
                    <p class="date"><b>Date Uploaded: </b>{{ render.date_uploaded}}</p>
                </li>
            {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock content %}