{% extends 'pychart/base.html' %}
{% load staticfiles %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Data Library</h1>
            <ul class="list-unstyled">
            {% if data %}
                {% for data_item in data %}
                    <li class="col-sm-3">
                        <a href="{% url 'data_detail' data_item.id %}">
                            <p class="text-capitalize" id="th-title"><b>{{ data_item.title }}</b></p>
                        </a>
                        <a href="{% url 'data_detail' data_item.id %}">
                            <img style="object-fit: cover; height: 100px;" src="{% static 'imgs/data.png' %}">
                        </a>
                        <p class="media-body">{{ data_item.description}}</p>
                        <p class="date">Date Uploaded: {{ data_item.date_uploaded}}</p>
                    </li>    
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>  
</div>

{% endblock content %}