description "PyChart"

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir {{install_root}}/{{ app_name }}/pychart

export PYCHART_DB='{{PYCHART_DB}}'
export DB_USERNAME='{{DB_USERNAME}}'
export DB_PASSWORD='{{DB_PASSWORD}}'
export DB_ENDPOINT='{{DB_ENDPOINT}}'
export SECRET_KEY='{{SECRET_KEY}}'
export EMAIL_HOST_PASSWORD='{{EMAIL_HOST_PASSWORD}}'
export ALLOWED_HOSTS='{{ALLOWED_HOSTS}}'

exec /home/ubuntu/PyChart/bin/gunicorn -b :8080 pychart.wsgi:application