{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}

    {% endblock %}
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">

  </head>
  <body>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'my_profile' %}">{{ user.username }}</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  {% block content %}
  {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
  </body>
</html>